*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: linear-gradient(to bottom,lightgreen 0% , green 100%);
    background-attachment: fixed;
}
.rope{
    position:absolute;
    top:400px;
    right: 22%;
    z-index: 4;
    text-align: center;
}
div{
    display: block;
}
#audio{
    margin-top: -300px;
    margin-left: -1900px;
}

.leftcurtain{
    width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: 2;
}
.rightcurtain{
    width: 100%;
      height: 100%;
      top: 0px;
      right: 0px;
      position: absolute;
      z-index: 3;
}

.rightcurtain img, .leftcurtain img {
    width: 100%;
    height: 100%;
}

.m1{
    position: fixed;
    left: .8%;
    width: auto;
    height: 100%;
    top: 1%;
    color: #000;
}
.m2{
    position: fixed;
    right: .8%;
    width: auto;
    height: 100%;
    top: 1%;
    color: #000;
}


.maincontainer{
    background: linear-gradient(to bottom,#ffffff -5% ,orange 50% ,red 100%);
    /* background: url(../Assests/b1.jpg); */
    max-width: 450px;
    min-height: 300px;
    background-size: 100%,100%;
    margin: 10px auto;
    padding: 35px;
    background-attachment: fixed;
    background-position: 10 100;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    padding-bottom: 60px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.14), 0 1px 14px 2px rgba(0,0,0,.12), 0 0 5px -3px rgba(0,0,0,.3);
}

.test{
    padding: 0!important;
    width: 100%!important;
    text-align: center;
    margin-top: 0!important;
  margin-bottom: 0!important;
}
#demo{
    margin-top: 40px;
}
.name{
    margin: auto!important;
    padding: 0!important;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
.test .name span{ 
    min-width: 10px;
    display:inline-block;
    font-size: 3.5em;
    user-select:none; 
  animation:bounce 3s ease-in-out infinite;
  }

#demo{
    font-size: 25px;
    color:springgreen;
    font-weight: bold;
}
.wishMessage{
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
        text-shadow: 0px 0px 10px #afafaf;
      }
.wishMessage p{
        margin: 0.4em 0;   
}
.glow {
    width:55%;
    padding: 2px;
    background-color:greenyellow	;
    animation: glow 3.5s infinite;
    font-size:30px;
    font-family: 'Ranga';
    color:red;
    margin:auto;
    font-weight: bold;
    text-align:center;
    border-radius:10px;
    text-shadow:1px 2px 6px yellow;
    }
.kname{
    font-size: 500px;

    background:url(../Assests/kname.gif);
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: swing 4s infinite;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: SF Espresso Shack;
    padding: 0 10px;
}
.kname h1{
    display: block;
    font-size: 50px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.appear{
    animation: appear 3s ease 2s infinite normal;
}


.enter-name input[type=name] {
        background-color: #F19507;
        color: black;
        font-weight:bold;
        border-radius: 10px;
        box-sizing: border-box;
        border:2px solid black;
        padding: 5px;
        position: fixed;
        left: 10px;
        bottom: 5px;
        height: 50px;
        width: 70%;
        text-align: center;
        font-size: 22px;
        display: inline-block;
 }
 .enter-name input ::placeholder{
     color: red;
 }
.enter-name .btn {
        border-radius: 10px;
        font-size: 21px;
        
        position: fixed;
        right: 2px;
        bottom: 5px;
        height: 50px;
        width: 23%;
        display: inline-block;
        color: white;
        font-weight:600;
        background-color: #F107CE;
        border: 2px solid black;
        letter-spacing: .5px;
        transition: .2s ease-out;
        cursor: pointer;
        line-height: 36px;
        outline: 0;
        text-transform: uppercase;
        vertical-align: middle;
        text-decoration: none;
        animation-duration: 4s !important;
}
.enter-name .btn span{
    color:white;
    padding: 3px;
}
    

/* Animation classes */

/* Animation class of slideshow of 5 pics  */
.slideshow-container {
    max-width: 80%;
    position: relative;
    height:280px;
    margin: auto;
}
   
/* Animation class of fade */

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
/* of 5 pics not used */
#spinner1 {
    -webkit-animation-name: spinner1;
    animation-name: spinner1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
}
#spinner1:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#spinner1 img {
    position: absolute;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
}

.rcard{
    padding: 0 0 0 50px;	
}


.suggestion{
    font-size: 40px;
    color: green;
}
.suggestion a{
    text-decoration: none;
}

.glowing{
    animation: glowing 1500ms infinite;
    width:fit-content;
    padding:10px;
    border-radius: 20px;

}

@keyframes  glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}




/* form button  */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    /* background-image: url(../Assests/kname.gif); */
    color: white;
    /* padding: 16px 20px; */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    /* position: fixed; */
    /* bottom: 40%;
    right: 28px; */
    width:fit-content;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display:none;
    position:fixed;
    bottom: 200px;
    right: 100px;
    /* margin-right: 30%; */
    /* margin-top: 10%; */
    border: 3px solid #f1f1f1;
    z-index: 9;
    /* width: 10px; */
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    /* position: absolute; */
    padding: 10px;
    background-color: white;
    
  }
  .form-container label {
      text-align: left;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  


